<footer class="bg-dark text-dark mt-5 align-text-bottom" 
style="  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 
  color: rgb(232, 228, 228);
  text-align: center;">
    <p align="center" style="color: white;"> Copyright &copy; 2022. All Right Reserved</p>
</footer> 